<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.cine_creizy.control.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.cine_creizy.control.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirecciona</servlet-name>
        <servlet-class>com.cine_creizy.control.redirecciona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comida</servlet-name>
        <servlet-class>com.cine_creizy.control.Comida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pelis</servlet-name>
        <servlet-class>com.cine_creizy.control.Pelis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Boleto</servlet-name>
        <servlet-class>com.cine_creizy.control.Boleto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartelera</servlet-name>
        <servlet-class>com.cine_creizy.control.Cartelera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>com.cine_creizy.control.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ventas</servlet-name>
        <servlet-class>com.cine_creizy.control.Ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasBoletos</servlet-name>
        <servlet-class>com.cine_creizy.control.VentasBoletos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirecciona</servlet-name>
        <url-pattern>/redirecciona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comida</servlet-name>
        <url-pattern>/Comida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pelis</servlet-name>
        <url-pattern>/Pelis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Boleto</servlet-name>
        <url-pattern>/Boleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartelera</servlet-name>
        <url-pattern>/Cartelera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ventas</servlet-name>
        <url-pattern>/Ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasBoletos</servlet-name>
        <url-pattern>/VentasBoletos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
