* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

body {
	
	font-family: Arial, Helvetica, Verdana;;
	line-height: 18px;
        
}

.contenido h1{
    -webkit-text-stroke: 1px white;
}



img{
    
    width: 25%;
    height: auto;
   
}

.contenido{
   background-image: url("../imagenes/af.jpg");
   background-position: center;
   background-size: cover;
    
}

