.a{
    width: 74.5%;
    background: #fff;
    padding: 3%;
}
.b{
    width: 24.5%;
    color: #fff;
    background: rgb(43,54,86);
}
h1{
    background: rgb(43,54,86);
    color: #fff;
    padding: 1.5%;
}
.a .f1 form, .a .f1 h3{
    float: left;
}
.a .f1 form{
    margin-left: 1%;
}
.a h2{
    color: rgb(169,165,105);
}
.f2 ul li{
    float: left;
    margin: 0 0.25%;
    padding: 0.75%;
}
.bol{
    width: 59%;
}
.pre, .cant, .add{
    width: 13%;
}
.arriba ul li{
    background: rgb(43,54,86);
    color: #fff;
}
.cant input{
    width: 100%;
}
.a h2{
    float: left;
}
.temas{
    display: flex;
    justify-content: space-between;
}
.color{
    background: red;
}
.color2{
    background: green;
}
.punto{
    color:#fff;
}
.dos{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.dos form input{
    padding: 7% 0;
}
.c{
    width: 24.5%;
    float: left;
}